.webgl {
  margin: 2px;
  background-color: black;
  /* -webkit-box-shadow: 5px 5px 10px 1px #0d0808;
  box-shadow: 5px 5px 10px 1px #0d0808; */
}
.draggable {
  width: 120px;
  height: 120px;
  text-align: center;
  background: rgba(114, 60, 19, 0.726);
  margin: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
#container {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: nowrap;
}
.item {
  background-color: rgb(228, 225, 222);
  border: 2px solid black;
}
h3 {
  padding-top: 50px;
}
